<%- include('../layouts/headerUser.ejs') %>

    <section class="container">
        <div class="row d-flex mb-md-3 ">
            <div class="col-md-3">
                <aside class="side-bar">
                    <div class=" container-fluid d-flex p-1   bg-white mt-md-4 shadow"
                        style="border-radius: 10px;box-shadow:dodgerblue; ">
                        <div class="col-md-4 pt-lg-1 ">
                            <img src=" ../../../../../productImages/<%= userdata.profileImage %>"
                                style="height: 60px; width: 60px;border-radius: 50%;">
                        </div>
                        <div class="col-md-8 pt-lg-2">
                            <div>
                                <span>Hello</span>
                            </div>
                            <div>
                                <h6 style="color: #38b4d0;">
                                    <%= userdata.name %>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid bg-white p-1 pt-lg-2 mt-md-4 "
                        style="border-radius: 10px;box-shadow:dodgerblue; ">
                        <div class="  d-flex ">
                            <div class="col-md-2 pt-lg-1 ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-person-fill-gear" viewBox="0 0 16 16" style="color: #38b4d0;">
                                    <path
                                        d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
                                </svg>
                            </div>
                            <div class="col-md-10 pt-lg-2">
                                <h6 style="color: #38b4d0;">Account Settings</h6>
                            </div>
                        </div>

                        <div class="container ps-5 pt-lg-2">
                            <div class="col-12 ps-2 ">
                                <span style="font-size:small;"> Profile Information</span>
                            </div>
                            <div class="col-12 ps-2 pt-lg-2">
                                <a href="/profile/address_manager"> <span
                                        style="font-size:small;text-decoration: none;color: palevioletred;"> Manage
                                        Address</span></a>
                            </div>
                            <!-- <div class="col-12 ps-2 pt-lg-2">
                                <a href="/profile/pancard"> <span style="font-size:small;"> PAN Card
                                        Information</span></a>
                            </div> -->
                        </div>

                        <div class=" container-fluid d-flex p-1 bg-white mt-lg-2">
                            <div class="col-md-2 pt-lg-1 ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-box-fill" viewBox="0 0 16 16" style="color: #38b4d0;">
                                    <path fill-rule="evenodd"
                                        d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.004-.001.274-.11a.75.75 0 0 1 .558 0l.274.11.004.001 6.971 2.789Zm-1.374.527L8 5.962 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339Z" />
                                </svg>
                            </div>
                            <div class="col-md-10 pt-lg-2">
                                <a href="/profile/orders">
                                    <h6 style="color: #38b4d0;">Orders</h6>
                                </a>
                            </div>
                        </div>
                        <div class=" container-fluid d-flex p-1 bg-white">
                            <div class="col-md-2 pt-lg-1 ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-bag-check-fill" viewBox="0 0 16 16" style="color: #38b4d0;">
                                    <path fill-rule="evenodd"
                                        d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                </svg>
                            </div>
                            <div class="col-md-10 pt-lg-2">
                                <a href="/kart">
                                    <h6 style="color: #38b4d0;">Cart</h6>
                                </a>
                            </div>
                        </div>
                        <div class=" container-fluid d-flex p-1 ">
                            <div class="col-md-2 pt-lg-1 ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-heart-fill" viewBox="0 0 16 16" style="color: #38b4d0;">
                                    <path fill-rule="evenodd"
                                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                </svg>
                            </div>
                            <div class="col-md-10 pt-lg-2">
                                <a href="/wishlist">
                                    <h6 style="color: #38b4d0;">Wishlist</h6>
                                </a>
                            </div>
                        </div>
                        <!-- <div class=" container-fluid d-flex p-1 bg-white">
                            <div class="col-md-2 pt-lg-1 ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-wallet2" viewBox="0 0 16 16" style="color: #38b4d0;">
                                    <path
                                        d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
                                </svg>
                            </div>
                            <div class="col-md-10 pt-lg-2">
                                <h6 style="color: #38b4d0;">Wallet</h6>
                            </div>
                        </div> -->
                    </div>
                </aside>
            </div>
            <div class="col-md-9">
                <div class="container-fluid p-1 bg-white mt-md-4 shadow"
                    style="border-radius: 10px; box-shadow: 0 0 10px #38b4d0;">
                    <div class="container row d-flex">
                        <!-- personal image add/update section -->
                        <div class="col-md-4 p-lg-5 " id="profileImage">

                            <div class="pt-md-5">
                                <img src=" ../../../../../productImages/<%= userdata.profileImage %>" class="card-img-top align-self-center p-lg-2" alt="image" style="height: 150px;width: 150px;" >
                            </div>
                            <div class="pt-lg-2">
                                <form action="/profile/photoUpload" method="POST" id="form" enctype="multipart/form-data" style="display: none;" >
                                    <input type="file" name="profileImage" id="profilePictureInput" >
                                    <img id="profilePicturePreview" style="height: 200px;">
                                    <button class="btn bg-white border-0" type="button" id="cropButton" onclick="upload()">Upload</button>
                                   
                                    <button class="btn bg-white border-0" type="button" onclick="cancelImage()">cancel</button>
                                  </form>
                                  <div id="up">
                                <%  if(userdata.profileImage){ %>
                                    <button class="btn " onclick="uploadImage1()" 
                                    style=" background-color: white; border-color:aqua ;">Edit Profile
                                    Picture</button>
                               
                                    <%  }else{%>
                                        <button class="btn "  onclick="uploadImage()" style=" background-color: white; border-color:aqua ;">Add Profile
                                            Picture</button>
                                    <%  }%>
                                </div>
                            </div>
                        </div>

                        <!-- Personal Details Update Division-->
                        <div class="col-md-8 p-lg-5" id="profileDetails">
                            <div class="pt-md-2">
                                <h6>Personal Details</h6>
                                <h6 class="pt-md-5">Name</h6>
                                <div class="row d-flex pt-md-1">
                                    <div class="col-md-5" id="first_name">
                                        <input type="text" id="name" name="name" placeholder="Name"
                                            value="<%=  userdata.name %>" disabled>
                                    </div>
                                    <div class="col-md-1" id="first_name">
                                        <button onclick="editName()" style="border: none;" id="editNameButton"
                                            class="btn bg-white">edit</button>
                                    </div>
                                    <div class="col-md-3" id="update_button" style="display: none;">
                                        <button class="btn " onclick="saveName()"> Update</button>
                                    </div>
                                    <div class="col-md-3" id="cancel_button" style="display: none;">
                                        <button class="btn " onclick="cancel()"> cancel</button>
                                    </div>
                                </div>
                                <div class="pt-md-3">
                                    <h6>Phone Number</h6>
                                    <div class="row d-flex pt-md-1">
                                        <div class="col-md-5">
                                            <input type="text" placeholder="Phone" id="phone"
                                                value="<%=  userdata.phone %>" disabled>
                                        </div>
                                        <div class="col-md-1" id="editPhone">
                                            <button onclick="editPhone()" style="border: none;" id="editPhoneButton"
                                                class="btn bg-white">edit</button>

                                        </div>
                                        <div class="col-md-3" id="update_buttonPhone" style="display: none;">
                                            <button class="btn " onclick="savePhone()"> Update</button>
                                        </div>
                                        <div class="col-md-3" id="cancel_buttonPhone" style="display: none;">
                                            <button class="btn " onclick="cancel()"> cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="pt-md-3">
                            <h6>Add Gender</h6>
                            <div class="row d-flex pt-md-1">
                                <div class="col-md-6" id="first_name">
                                 
                                    <input type="text" placeholder="Phone" disabled>
                                </div>
                                <div class="col-md-1" id="first_name">
                                    <a href=""><span>edit</span></a>
                                </div>
                                <div class="col-md-5"  id="update_button" style="display: none;">
                                    <button class="btn "> Update</button>
                                </div>
                            </div>
                        </div> -->
                            </div>


                        </div>

                    </div>


                    <div class="container p-lg-5">
                        <h5 class="ps-md-4">FAQs</h5>
                        <div class="row d-flex m-md-3">
                            <div class="col-md-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-question-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                                </svg>
                            </div>
                            <div class="col-md-11 align-content-md-start">

                                <span>What happens when I update my mobile number?</span>
                            </div>

                        </div>
                        <div class="row d-flex m-md-3">
                            <div class="col-md-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-lightbulb" viewBox="0 0 16 16">
                                    <path
                                        d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z" />
                                </svg>
                            </div>
                            <div class="col-md-11 align-content-md-start">

                                <p>Your login mobile number changes, likewise.
                                    You'll receive all your account related communication on your
                                    updated mobile number.</p>
                            </div>

                        </div>

                        <div class="row d-flex m-md-3">
                            <div class="col-md-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-question-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                                </svg>
                            </div>
                            <div class="col-md-11 align-content-md-start">

                                <span>When will my account be updated with the new mobile number?</span>
                            </div>
                        </div>
                        <div class="row d-flex m-md-3">
                            <div class="col-md-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-lightbulb" viewBox="0 0 16 16">
                                    <path
                                        d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z" />
                                </svg>
                            </div>
                            <div class="col-md-11 align-content-md-start">

                                <p> It happens as soon as you confirm the verification code sent to your mobile and save
                                    the changes..</p>
                            </div>
                        </div>


                        <div class="row d-flex m-md-3">
                            <div class="col-md-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-question-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                                </svg>
                            </div>
                            <div class="col-md-11 align-content-md-start">

                                <span>Why i am not able to update my email address?</span>
                            </div>
                        </div>
                        <div class="row d-flex m-md-3">
                            <div class="col-md-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-lightbulb" viewBox="0 0 16 16">
                                    <path
                                        d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z" />
                                </svg>
                            </div>
                            <div class="col-md-11 align-content-md-start">

                                <p>Your email address is your username. So if you want to update your email address,
                                    you can contact our customer care.</p>
                            </div>
                        </div>

                    </div>
                    <div class="container m-md-3 ">
                        <button class="btn ms-lg-5 mb-lg-5"
                            style="border: none;background-color: white; color: #38b4d0;">Deactivate Account</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script>
        const inputElement = document.getElementById('profilePictureInput');
        const previewElement = document.getElementById('profilePicturePreview');
        let croppedImage ;
        let cropper;

            inputElement.addEventListener('change', (event) => {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = () => {
                const imgSrc = reader.result;
                previewElement.src = imgSrc;

                // Initialize Cropper.js
                cropper = new Cropper(previewElement, {
                aspectRatio: 1, // Set the desired aspect ratio for cropping
                // Additional options can be set here
                });
            };

        reader.readAsDataURL(file);
        });

                const cropButton = document.getElementById('cropButton');
                const form = document.getElementById('form');
const croppedImageInput = document.getElementById('profilePictureInput');
        cropButton.addEventListener('click', () => {
        // Get the cropped canvas data
        const croppedCanvas = cropper.getCroppedCanvas();

        // Retrieve the cropped image as a data URL
         croppedImage = croppedCanvas.toDataURL('image/jpeg');

        // You can now use the croppedImage data as needed (e.g., upload to a server, display on the page, etc.)
         // Set the value of the hidden input field
//   croppedImageInput.value = croppedImage;

// Submit the form

        
        });

        function editName() {
            document.getElementById('name').removeAttribute('disabled');
            document.getElementById('editNameButton').style.display = "none";
            document.getElementById('update_button').style.display = "block";
            document.getElementById('cancel_button').style.display = "block";
        }

        function editPhone() {
            document.getElementById('phone').removeAttribute('disabled');
            document.getElementById('editPhone').style.display = "none";
            document.getElementById('update_buttonPhone').style.display = "block";
            document.getElementById('cancel_buttonPhone').style.display = "block";
        }
        function cancel() {
            location.reload();
        }

        function saveName() {
            const name = document.getElementById('name').value;
            const updateQuery = { $set: { name: name } };
            fetchData(updateQuery);
        }
        function savePhone() {
            const phone = document.getElementById('phone').value;
            const updateQuery = { $set: { phone: phone } };
            fetchData(updateQuery);
        }

        function fetchData(updateQuery) {
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ updateQuery })
            }
            fetch('/api/update', options)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (stock === "blocked") {
                            window.location.href = '/login'
                    }
                    if (data) {
                        location.reload();
                    } else {
                        console.log(data);
                    }
                })
        }

        function uploadImage(){
            document.getElementById("up").style.display = "none";
            document.getElementById("form").style.display = "block";
        }
        
        function cancelImage(){
         location.reload();
        }
        
        function uploadImage1(){
            document.getElementById("up").style.display = "none";
            document.getElementById("form").style.display = "block";
        }
function upload(){
    const fileInput = document.getElementById('form');
  const file = fileInput.file;

  // Create a new FormData object
  const formData = new FormData();

  // Append the file to the FormData object with the desired field name
  formData.append('croppedimage', file);
  form.submit();
}
        
    </script>
    <%- include('../layouts/footer.ejs') %>