<%- include('./layout/header.ejs') %>
    <div class="container mb-lg-3">
        <div class="row justify-content-center mt-3">
            <div class="col-md-12">
                <div class="card">
                    <header class="card-header border-0 text-center mp-sm-3">
                        <h5 class="mt-md-3 " style="color: palevioletred;">Order Details</h5>
                    </header>
                    <article class="card-body">
                        <div class="row d-flex justify-content-center mt-lg-2 mb-md-3 pb-md-2 shadow">
                            <h6 class="ps-md-5">DELIVERY ADDRESS </h6>
                            <div class="col-6 text-center pt-md-2">
                                <div class="text-center pt-md-2">
                                  
                                    <span>
                                        <%= address.name %>
                                    </span><br>
                                    <span>
                                        <%= addresString %>
                                    </span><br>
                                    <span>Landmark: <%= address.landmark %></span><br>
                                    <span>Phone: <%= address.phone %></span><br>
                                    <span>Alternate Phone: <%= address.alternatePhone %></span><br>
                                </div>
                            </div>
                            <% const date=new Date(orderData.expectedDelivery);%>

                                <% const trimmedDateStr=date.toString().substring(0, 15);%>

                                    <div class="col-6 text-center pt-md-2">
                                        <div class="text-center pt-md-2">
                                            <span> Status: <%= orderData.status %> </span><br>
                                            <% if(orderData.status === "return Initialised") {%>
                                                <span>
                                                    </span> <span style="color:red">
                                                   Payment will be returned within 10 working days.
                                                </span><br>
                                            <%}else { %>
                                            <span>
                                                Expected delivery:</span> <span style="color:red">
                                                <%= trimmedDateStr %>
                                            </span><br>
                                            <%} %>
                                            <span> Payment method: <%= orderData.payment.method %> </span><br>
                                            <span> Total Amount: Rs.<%= orderData.payment.amount %> </span>
                                        </div>
                                    </div>
                        </div>
                        <div class="container row d-flex justify-content-center ms-md-1 mb-md-1 mt-lg-2 p-md-2 shadow">
                            <div class="col-12  pt-md-2">
                                <h5 class="pb-md-2">Products List</h5>
                                <% if(orderData){%>
                                    <% orderData.products.forEach((element)=> { %>

                                        <div class="row d-flex justify-content-center mt-lg-2">
                                            <div class="col-2  ">
                                                <img class="shadow"
                                                    src=" ../../../../../productImages/<%= element.image[0] %> "
                                                    style="width: 100px;height: 100px;">
                                            </div>
                                            <div class="col-8  pt-md-2">
                                                <span>
                                                    <%= element.p_name %>
                                                </span><br>
                                                <span> color: <%= element.color %> </span><br>
                                                <span> price: Rs.<%= element.price %> </span>
                                            </div>
                                            <div class="col-2  pt-md-2">
                                                <span>
                                                    Qty: <%= element.quantity %>
                                                </span>
                                            </div>
                                        </div>
                                        <% }) %>
                                            <% }%>
                            </div>
                        </div>
                       
                        <div class="container row d-flex justify-content-center mt-md-2"  >
                            <div class="row justify-content-center">

                                <% if(orderData.status == 'confirm'){ %>

                                    <button class="btn bg-transparent border-0" onclick="setdelivered('<%= orderData._id %>','Delivered')"> Delivered</button>
          
                                 <% }else if(orderData.status == 'return requested' ) { %>
                                  <button class="btn bg-transparent border-0" onclick="setdelivered('<%= orderData._id %>','return Initialised')"> return Initialised</button>
                                  <% }else if(orderData.status == 'return Initialised' ) { %>
                                    <button class="btn bg-transparent border-0" onclick="setdelivered('<%= orderData._id %>','returned')">returned</button>
                                 <% } else if(orderData.status == "returned") {%>
                                  <button class="btn bg-transparent border-0" onclick="setdelivered('<%= orderData._id %>','payment return Initialised')">payment return Initialised</button>
                                  <% } else if(orderData.status == "payment return Initialised") {%>
                                    <button class="btn bg-transparent border-0" onclick="setdelivered('<%= orderData._id %>','payment returned')">payment returned</button>
                                 <% }else { %>
                                  <div class="row justify-content-center pt-2">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                                  </svg>
                                </div>
                                 <% } %>
                            </div>
                        </div>
                    </div>
                    </article>
                </div>
            </div>
        </div>
    </div>


    <script>

function setdelivered(orderId,status){
        const url = '/admin/api/setStatus';
        
        const options = {
          method: 'POST',
          headers: {
          'Content-Type': 'application/json'
          },
          body: JSON.stringify({ orderId,status })
      }
    fetchStatus(url,options)
    }

function fetchStatus(url,options){
    fetch(url, options)
    .then(response => response.json())
    .then(data => {
      console.log(data);
      location.reload();
      });
    }

        function returnreq() {
            document.getElementById('retcancel').style.display = "none";
            document.getElementById('reason').style.display = "block";
        }

        function cancelreq() {
            document.getElementById('retcancel').style.display = "none";
            document.getElementById('reason').style.display = "block";
        }

        function changeStatus(id,data, status) {
            console.log(data)
            const productsList = JSON.parse(data);
            console.log(id)
          
            let selectedValue;
            const radioButtons = document.getElementsByName('reasonButton');
             // Loop through all the radio buttons
            for (let i = 0; i < radioButtons.length; i++) {
                // Check if the radio button is selected
                if (radioButtons[i].checked) {
                // Retrieve the selected value
                selectedValue = radioButtons[i].value;
                console.log(selectedValue);
                break; 
                }
            }
                // Do something with the selected value
            
            
            const url = "/kart/ckeckout/order";
            const options = {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id,productsList, status,selectedValue })
            }

            fetchStatus(url, options,status);
        }
        function fetchStatus(url, options,status) {

            fetch(url, options)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if(data === "done"){
                        window.location.href = `/oreder/cancelled?id=${status}`;
                    }else if(data === "wrong"){
                        location.reload();
                    }
                })
        }
    </script>
    <%- include('./layout/footer.ejs') %>