<%- include('./layout/header.ejs') %>
  <div class="container mt-5 mb-5 ">
    <div class="row  ">
      <div class="col-lg-12 grid-margin stretch-card ">
        <div class="card bg-white shadow">
          <div class="card-body ">
            <div class="row d-flex justify-content-between">
              <div class="col-lg-12">
                <h4 class="card-title m-4 ">Users Wallet</h4>
              </div>
            </div>
           
            <table class="table table-striped pt-4">
              <thead>
                <tr>
                 
                  <th> id </th>
                  <th> name</th>
                  <th> cash </th>
                 
                </tr>
              </thead>
              <tbody>
                <% if(data){ %>

                  <% for(let i=0;i<data.length;i++){ %>

                    <tr >
                      
                      <td>
                        <%= data[i]._id %>
                      </td>
                      <td>
                        <%= data[i].username %>
                      </td>
                      <td >
                        <%= data[i].cash %>
                      </td>
                    </tr>
                    <% } %>
                      <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('./layout/footer.ejs') %>